<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link type="text/css" rel="stylesheet" href="~/css/zoo-style.css" />
</head>
<body>
    <ul class="nav">
        <li> <a href=@Url.Action("Index","Zoo")>Attractions</a> </li>
        <li> <a href=@Url.Action("VisitorDetails","Zoo")>Visitor Infor</a></li>
        <li> <a href=@Url.Action("BuyTickets","Zoo")>Buy tickets</a></li>
    </ul>
    <div class="header-container">
        <h1 class="content">Welcome to zoo center</h1>
        <div class="slider-buttons">
            <img class="prev" src="~/images/prevArrow.png" />
            <img class="next" src="~/images/nextArrow.png" onclick=nextImage() />
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
</body>
</html>
